body {
   font-family: monospace; 
}

header {
    margin-top: 48px;
    padding: 0;
    width: 100%;
}

header h1 {
    color: #444;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0;
}

header .lead {
    margin: 24px 0;
    color: #888;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
}

header .lead a, header .lead a:hover {
    color: #444;
}

section {
    text-align: center;
}

section h2 {
    color: #444;
    font-size: 42px;
    font-weight: bold;
}

section h2 a, section h2 a:hover {
    color: #444;
}

section h3 {
    color: #888;
}

section h4 {
    font-size: 24px;
}

section p {
    color: #444;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 24px;
}

section li {
    font-size: 16px;
    line-height: 2em;
}

footer {
    background-color: #e7e7e7;
    margin-top: 48px;
    min-height: 200px;
    padding: 16px 0;
    width: auto;
}

footer a {
    color: #444;
}

footer .credit a {
    text-decoration: underline;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 32px !important;
}

[class^="simpleicon-"]:before, [class*=" simpleicon-"]:before, [class^="simpleicon-"]:after, [class*=" simpleicon-"]:after {
    font-size: 24px !important;
}

.container {
    max-width: 1024px;
}

.goto-section {
    text-align: center;
}

.goto-section a:hover {
    text-decoration: none;
}

.goto-section .icon-down {
    color: #777;
    font-size: 2em;
}

.avatar-frame {
	width: 150px;
	height: 150px;    
    margin: auto;
}

.avatar-frame img {
    border: 2px solid #ddd;
    margin: auto;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 130px; /* Saf3+, Chrome */
	border-radius: 130px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.press-box {
    background-color: #ddd;
    border: 2px solid #ddd;
    text-align: center;
}

.press-box a {
    display: block;
}

.press-box img {
    width: 100%;
    padding: 8px;
    background-color: #fff;
}

.press-box p {
    background-color: #ddd;
    font-size: 14px;
    padding: 2px 8px;
}

.social {
    text-align: center;
    margin-bottom: 36px;
}

.social i {
    margin: 0 8px;
    display: inline-block;
}

.social a, .social a:hover {
    color: #ccc;
    text-decoration: none;
}

.social a.fb:hover {
    color: #3b5998;
}

.social a.tw:hover {
    color: #1da1f2;
}

.social a.in:hover {
    color: #006fa6;
}

.social a.github:hover {
    color: #333;
}

.social a.medium:hover {
    color: #00ab6b;
}

.interests {
    margin-top: 50px;
}

.interests .lead {
    font-size: 16px;
}

.mail, .skype {
    margin-bottom: 4px;
}

.mail a, .skype a {
    position: relative;
    top: -2px;
}

.mail .icon:before {
    font-size: 18px !important;
    margin: 0 !important;
    margin-right: 4px !important;
    padding-top: 2px;
}

.skype .icon:before {
    color: #12A5F4;
    font-size: 18px !important;
    margin: 0 !important;
    margin-right: 4px !important;
    padding: 2px 0;
}

.img-container {
    background-color: #fff;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.blog-posts h2 {
    margin-bottom: 32px;
}

.blog-post a {
    color: #444;
    font-weight: 300;
}
.blog-post span {
    font-size: 14px;
    font-weight: 200;
    color: #888;
    position: relative;
    top: -8px;
}

.blog-post-all {
    margin-left: 28px;
    font-size: 20px;
    font-weight: 200;
    color: #888;    
}

#payment {
    margin-top: 12px;
}
