body {
   font-family: "Open Sans", "Nunito"; 
}

header {
    background-color: #000;
    padding-top: 48px;
    padding: 0;
    width: 100%;
}

header h1 {
    color: #ddd;
    font-family: "Nunito";
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 16px 0 4px;
}

header .lead {
    color: #ddd;
    font-family: "Nunito";
    font-size: 24px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 6px;
}

header .lead a, 
header .lead a:hover {
    color: #ddd;
    text-decoration: underline;
}

section {
    text-align: center;
}

section h2 {
    color: #444;
    font-family: "Nunito";
    font-size: 42px;
    font-weight: 900;
}

section h3 {
    color: #AAAAAA;
    font-family: "Nunito";
    font-weight: bold;
    margin-top: 0px;
}

section h4 {
    font-family: "Nunito";
    font-size: 24px;
    font-weight: bold;
}

section .lead {
    color: #AAAAAA;
    font-size: 18px;
    margin-top: -4px;
}

section p {
    color: #444;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 24px;
}

section a {
    color: #444;
    text-decoration: underline;
}

section a:hover {
    color: #444;
}

section li {
    font-size: 16px;
    line-height: 1.8em;
}

footer {
    background-color: #EEEEEE;
    margin-top: 48px;
    min-height: 80px;
    padding: 24px 0;
    width: auto;
}

footer a {
    color: #444;
    text-decoration: underline;
}

.container {
    max-width: 800px;
}

.goto-section {
    padding: 16px 0;
    text-align: center;
}

.goto-section a:hover {
    text-decoration: none;
}

.goto-section .icon-down {
    color: #ddd;
    font-size: 2em;
}

.avatar-frame {
	width: 150px;
	height: 150px;    
    margin: auto;
    margin-top: 48px;
}

.avatar-frame img {
    border: 2px solid #ddd;
    margin: auto;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 130px; /* Saf3+, Chrome */
	border-radius: 130px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.social {
    text-align: center;
    margin-bottom: 36px;
}

.social i {
    margin: 0;
    display: inline-block;
}

.social a, .social a:hover {
    color: #DDDDDD;
    cursor: pointer;
    text-decoration: none;
}

.social a.tw:hover {
    color: #1da1f2;
}

.social a.in:hover {
    color: #006fa6;
}

.social a.github:hover {
    color: #333333;
}

.social a.medium:hover {
    color: #00ab6b;
}

.interests {
    margin-top: 50px;
}

.interests .lead {
    font-size: 16px;
}

.img-container {
    background-color: #fff;    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.responsive-container {
    position: relative;
    width: 100%;
}

.blog-posts {
    margin: 32px 0;
}

.blog-posts h2 {
    color: #444;
    font-family: "Nunito";
    font-weight: bold;
    margin-bottom: 32px;
}

.blog-posts .all {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 200;
    margin-left: 28px;
}

.blog-post a {
    color: #444;
    font-weight: 300;
}

.blog-post span {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 200;
    position: relative;
    top: -8px;
}